/** 
 * ===================================================================
 * 01. base style overrides
 * 02. typography & general theme styles
 * 03. Header
 * 04. Certificate Body
 * 05. Popup Modal
 * 06. Animations
 * 07. Footer
 * ------------------------------------------------------------------- 
 */

/** 
 * ===================================================================
 * 01. base style overrides
 *
 * ------------------------------------------------------------------- 
 */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 10px;
    scroll-behavior: smooth;
    background-color: rgb(22, 22, 22);
  }
  
  body {
    margin: 0;
    background-color: rgb(22, 22, 22);
    color: #fff;
    font-family: sans-serif;
  }
  
  .strt-pge {
    padding-top: 20px;
    background-image: url("../Assets/Images/Netflix-Background.jpg");
    background-color: #000;
    background-size: 292.5vh;
    background-position: top;
    background-repeat: no-repeat;
    min-height: 120vh;
    position: relative;
    z-index: 1;
  }
  
  .strt-pge::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }
  
  .strt-hdr {
    display: flex;
    padding-top: 0.32rem;
    padding-left: 14.8rem;
    padding-right: 15rem;
    justify-content: space-between;
    align-items: center;
  }
  
  .strt-hdr svg {
    height: 40px;
    cursor: pointer;
    width: auto;
    padding-left: 2.6rem;
    fill: #e50914;
  }
  
  .cstm-drpdwn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  
  .custom-dropdown {
    position: relative;
    max-width: 125px;
    max-height: 35px;
    background-color: #000;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    color: white;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .selected-option {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .translate-icon {
    font-size: 16px !important;
    color: white;
  }
  
  .selected-option i {
    font-size: 16px;
    margin-left: auto;
  }
  
  .options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-top: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease;
    z-index: 5;
  }
  
  .option {
    padding: 10px;
    color: black;
    background-color: white;
    font-size: 16px;
    transition: background-color 0.2s;
  }
  
  .option:hover {
    background-color: #8c8c8c;
    color: white;
  }
  
  .strt-hdr a {
    background-color: red;
    color: white;
    padding: 8px 15px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 1.4rem;
}

.strt-cnt-cont {
    background-color: rgba(0, 0, 0, 0.75);
    width: 30%;
    height: 101vh;
    margin: auto;
    padding: 50px 65px 40px;
    border-radius: 10px;
    margin-top: 28px;
    color: white;
}

.strt-cnt {
    height: 100%;
    align-items: center;
}

.strt-cnt h1 {
    font-size: 3.2rem;
    font-weight: 600;
    margin-bottom: 2.6rem;
    color: #fff;
    text-align: left;
}

.email-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-container {
    position: relative;
    width: 100%;
    margin-bottom: 17px;
}
  
.input-container input {
    width: 100%;
    padding: 25px 16px 9px 16px;
    background: rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 4px;
    font-size: 16px;
    color: white;
    outline: none;
  }

  .input-container input::placeholder {
    color: transparent;
  }  
  
.input-container label {
    position: absolute;
    top: 50%;
    left: 18px;
    transform: translateY(-50%);
    color: #ffffffb3;
    font-size: 16px;
    pointer-events: none;
    transition: all 0.3s ease;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 0 5px;
}
  
.input-container input:focus + label,
.input-container input:not(:placeholder-shown) + label {
    top: 8px;
    left: 11px;
    font-size: 12px;
    transform: translateY(0);
}

.input-container input:focus {
    border: 2px solid white;
}

.error-message {
    color: #e50914;
    font-size: 13px;
    margin-top: 10px;
    display: none;
}

.input-container input.input-error + label {
    bottom: -1px;
    background-color: transparent;
}

.input-error {
    border: 1px solid #e50914 !important;
}
  
.toggle-password {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #ffffffb3;
    font-size: 12px;
    display: none;
}
.input-container input.input-error ~ .toggle-password {
    top: 30%;
}

.ent-btns {
    align-items: center;
}

.sgn-in-btn {
    width: 100%;
    padding: 10px;
    background-color: #e50914;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}

.sgn-in-btn:hover {
    background-color: #cc0610;
}

.ent-btns p {
    text-align: center;
    color: #ffffffb3;
    font-size: 17px;
    margin-top: 17px;
    margin-bottom: 17px;
}

.ent-btns-or {
    font-size: 17px !important;
}

.ent-btns p span {
    cursor: pointer;
    text-decoration: underline;
    color: #fff;
    font-size: 17px;
}

.sgn-code-btn {
    width: 100%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.sgn-code-btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

input[type="checkbox"] {
    background-color: white;
    border: 1px solid white;
    width: 17px;
    height: 17px;
    margin-right: 12px;
    cursor: pointer;
}

input[type="checkbox"]:hover {
    background-color: #e50914;
    border-color: #e50914;
}

.rmbr-me {
    color: #ffffff;
    font-size: 16px;
}

.strt-cnt h2 {
    font-size: 16px;
    margin-top: 17px;
    color: #ffffffb3;
}

.strt-cnt h2 a {
    color: white;
    margin-left: 5px;
    cursor: pointer;
}

.strt-cnt h2 a:hover {
    text-decoration: underline;
}

.strt-cnt p {
    font-size: 13px;
    color: #ffffff80;
    margin-top: 17px;
}

.strt-cnt p a {
    color: #448EF4;
    font-size: 13px;
    text-decoration: underline;
    cursor: pointer;
}

.strt-ftr {
    color: #8c8c8c;
    font-size: 13px;
}

.strt-ftr a {
    color: #8c8c8c;
    text-decoration: none;
    display: block;
}

.strt-ftr {
    margin: 50px 150px 50px 175px;
}
  
.strt-ftr-span {
    font-family: 'Netflix Font', sans-serif;
}
  
.strt-ftr p {
    font-size: 16px;
    line-height: 1;
    padding-bottom: 10px;
    max-width: 600px;
    color: #ffffffb3;
}
  
.strt-ftr-grid {
    margin-top: 1.7rem;
    font-size: 14px;
    margin-bottom: 2.4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.strt-ftr-grid a {
    color: #ffffffb3;
    text-decoration: underline;
    font-size: 1.4rem;
}

.strt-ftr-cpy {
    font-size: 16px !important;
    color: #ffffffb3;
    margin-top: 3rem;
    margin-bottom: 3rem;
}